body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 217, 255), rgb(211, 109, 109));
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgba(248, 245, 245, 0.8);
    color: rgb(19, 9, 9);
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: rgba(248, 245, 245, 0.0005);
    color: rgb(241, 235, 235);
}

button:active{
    background-color: rgba(248, 245, 245, 0.03);
}

.operatorBtn{
    background-color: rgba(39, 16, 19, 0.40);
    color: rgba(248, 245, 245, 0.8);
}

#container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(39, 16, 19, 0.40);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#calculatorButtons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgba(39, 16, 19, 0.40);
    color: rgba(248, 245, 245, 0.8);
}

